.slideshow-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-color:coral;
}
.testimonial-slide {
  display: none;
  text-align: center;
  padding: 20px;
  background-color:white;
  width: 50%;
  margin-left: 320px;
  border-radius: 10px;
  margin-top: 25px;
}
.testimonial-slide.active {
  display: block;
}
img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.heading{
  padding-top: 25px;
  text-align: center;
  color: navy;
}
.quote-icon {
  font-size: 24px;
  color:navy;
  transform: rotate(180deg);
}
.rating-stars {
  color:gold;
  font-size: 24px;
  margin-top: 10px;
}
.rating-stars .active {
  color: orange;
}
.zoom-heading {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  font-weight: bold;
}
.zoom-heading:hover {
  transform: scale(1.2);
}
.zoom-heading h1{
  text-align: center;
}
h1{
  font-size: 40px;
}


