
.quote-icon {
  font-size: 24px;
  color:navy;
  transform: rotate(180deg);
}
.rating-stars {
  color:gold;
  font-size: 24px;
  margin-top: 10px;
}
.rating-stars .active {
  color: orange;
}

.example-card {
  max-width: 300px;
  margin: 25px;
}

.example-header-image {
  background-image: url('https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png');
  background-size: cover;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.container >*{
  flex: 1 1 300px;
}

  
  





